@import url("https://fonts.googleapis.com/css?family=Bubbler+One");
@import url("../fonts/Open-Sans/stylesheet.css");
body {
  overflow-x: hidden; }

.brand-logo img {
  padding: 0 20%; }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .brand-logo img {
      margin: -45%; } }
  @media only screen and (max-width: 600px) {
    .brand-logo img {
      margin: -45%; } }

.nav-wrapper {
  background-color: #fff; }

.nav-item {
  color: #6699ff;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter; }

.nav-img {
  height: 40px;
  width: auto; }

.button-collapse {
  color: #6699ff; }

.box-sobre {
  margin-top: -1%;
  text-align: center;
  width: 100%;
  height: 400px;
  background: url("../img/2ed/5.jpg");
  background-size: cover;
  background-color: #6699ff;
  background-blend-mode: luminosity;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-sobre .about-card {
    display: inline-block;
    max-width: 600px;
    height: auto;
    padding: 35px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    @media only screen and (max-width: 600px) {
      .box-sobre .about-card {
        height: 350px; } }
    .box-sobre .about-card h3 {
      font-family: "Open Sans", sans-serif;
      color: #F71290;
      font-weight: bolder; }
      @media only screen and (max-width: 600px) {
        .box-sobre .about-card h3 {
          font-size: 20px; } }
    @media only screen and (max-width: 600px) {
      .box-sobre .about-card p {
        font-size: 12px; } }
    .box-sobre .about-card a {
      background-color: #F71290; }
    .box-sobre .about-card .cont {
      color: #F71290;
      font-size: 20px; }
  .box-sobre .align-top {
    align-self: flex-start; }
  .box-sobre .align-bottom {
    align-self: flex-end; }

#box-countdown .title-cont {
  text-align: center;
  color: #6699ff;
  font-family: "Open Sans", sans-serif;
  margin: 50px 0 -20px; }
  #box-countdown .title-cont .destaque {
    color: #F71290;
    font-weight: bolder; }
#box-countdown .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: auto;
  margin: 20%; }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    #box-countdown .logo {
      max-width: 200px;
      height: auto; } }
  @media only screen and (max-width: 600px) {
    #box-countdown .logo {
      max-width: 200px;
      height: auto; } }
#box-countdown .countdownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 10px;
  font-family: "Bubbler One", sans-serif;
  font-weight: bold; }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    #box-countdown .countdownContainer {
      margin: 50px 20px; } }
  #box-countdown .countdownContainer td {
    padding: 0 30px;
    text-align: center; }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      #box-countdown .countdownContainer td {
        padding: 0 10px; } }
    @media only screen and (max-width: 600px) {
      #box-countdown .countdownContainer td {
        padding: 0 10px; } }
  #box-countdown .countdownContainer .legend-cont {
    color: #6699ff;
    font-weight: bold; }
  #box-countdown .countdownContainer .title-cont {
    color: #F71290; }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      #box-countdown .countdownContainer .title-cont {
        font-size: 30px; } }
    @media only screen and (max-width: 600px) {
      #box-countdown .countdownContainer .title-cont {
        font-size: 30px; } }
#box-countdown .info {
  font-size: 80px; }

.convidados {
  background-color: #6699ff;
  text-align: center;
  padding: 30px 30px 20px;
  height: auto;
  margin: 20px 0; }
  @media only screen and (max-width: 600px) {
    .convidados {
      width: 100%; } }
  .convidados h2 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 1px; }
    @media only screen and (max-width: 600px) {
      .convidados h2 {
        font-size: 30px; } }
  .convidados .line {
    border-bottom: 3px solid white;
    width: 300px;
    margin: 0 auto; }
  .convidados .box {
    margin-top: 20px;
    padding: 0 1px;
    width: 100%; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .convidados .box {
        padding: 1px; } }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      .convidados .box {
        padding: 10px; } }
    @media only screen and (max-width: 600px) {
      .convidados .box {
        padding: 0 2px; } }
  .convidados .team-member {
    display: inline-block;
    background-color: white;
    padding: 20px 20px;
    width: 100%;
    height: auto;
    margin: 0;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 4px 6px 80px -16px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 4px 6px 80px -16px rgba(0, 0, 0, 0.59);
    box-shadow: 4px 6px 80px -16px rgba(0, 0, 0, 0.59); }
    @media only screen and (max-width: 600px) {
      .convidados .team-member {
        height: auto;
        margin: 5px 5px; } }
    .convidados .team-member .team-pic {
      display: block;
      margin: 0 auto;
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */ }
    .convidados .team-member .team-pic:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .convidados .team-member .team-name {
      font-family: "Bubbler One", sans-serif;
      color: #F71290;
      font-weight: bolder;
      font-size: 25px;
      margin: 10px 0; }
      @media only screen and (max-width: 600px) {
        .convidados .team-member .team-name {
          font-size: 17px; } }
    .convidados .team-member .team-function {
      margin: 2px 0;
      font-family: "Bubbler One", sans-serif;
      color: #6699ff;
      font-weight: bold;
      font-size: 20px; }
      @media only screen and (max-width: 600px) {
        .convidados .team-member .team-function {
          font-size: 12px; } }
    .convidados .team-member .team-desc {
      font-family: "Open Sans", sans-serif;
      font-size: 10px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 600px) {
        .convidados .team-member .team-desc {
          font-size: 8px; } }

.programacao {
  margin: 20px 0; }
  .programacao h2 {
    font-family: "Bubbler One", sans-serif;
    color: #F71290;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .programacao h2 {
        font-size: 30px; } }
  .programacao .line {
    border-bottom: 3px solid #6699ff;
    width: 400px;
    margin: 0 auto; }
  .programacao .turnos {
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px; }
    .programacao .turnos td {
      padding: 5px 5px; }
    .programacao .turnos .collection-header {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .programacao .turnos .manha {
      border-radius: 2px; }
      .programacao .turnos .manha th {
        text-align: center;
        color: #6699ff; }
      .programacao .turnos .manha .hora {
        text-align: center;
        background-color: #6699ff;
        font-weight: bold;
        color: white;
        margin: 5px 0;
        width: 100px; }
      .programacao .turnos .manha .event {
        font-style: italic;
        color: #6699ff; }
    .programacao .turnos .tarde {
      border-radius: 2px; }
      .programacao .turnos .tarde th {
        text-align: center;
        color: #F71290; }
      .programacao .turnos .tarde .hora {
        text-align: center;
        background-color: #F71290;
        font-weight: bold;
        color: white;
        margin: 5px 0;
        width: 100px; }
      .programacao .turnos .tarde .event {
        font-style: italic;
        color: #F71290; }

#contact {
  font-family: "Bubbler One", sans-serif; }
  #contact form input {
    border-color: #6699ff;
    font-weight: bold; }
  #contact form textarea {
    border-color: #6699ff; }
  #contact form label {
    font-weight: bold !important;
    color: #F71290; }
  #contact form .btn, #contact form .btn-large {
    width: 100%;
    background-color: #F71290; }
  #contact .text-contact {
    font-family: "Bubbler One", sans-serif; }
    #contact .text-contact h1 {
      color: #F71290;
      font-weight: bold;
      font-family: "Open Sans", sans-serif; }
      @media only screen and (min-width: 600px) and (max-width: 992px) {
        #contact .text-contact h1 {
          font-size: 40px; } }
      @media only screen and (max-width: 600px) {
        #contact .text-contact h1 {
          font-size: 30px;
          text-align: center; } }
    #contact .text-contact p {
      margin-top: -10px;
      color: #6699ff;
      font-weight: bold; }
      @media only screen and (min-width: 600px) and (max-width: 992px) {
        #contact .text-contact p {
          font-size: 20px; } }
      @media only screen and (max-width: 600px) {
        #contact .text-contact p {
          font-size: 15px;
          text-align: center; } }
  #contact .margem {
    padding: 20px 0 !important; }

.scrollToTop {
  width: 100px;
  height: 130px;
  text-align: center;
  background-color: #F71290;
  font-weight: bold;
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: none; }
  .scrollToTop :hover {
    background-color: #F71290; }
  @media only screen and (max-width: 600px) {
    .scrollToTop {
      width: 30px;
      height: 30px;
      bottom: 70px;
      right: 30px; }
      .scrollToTop i {
        font-size: 20px;
        margin-top: -10px; } }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .scrollToTop {
      width: 30px;
      height: 30px;
      bottom: 70px;
      right: 30px; }
      .scrollToTop i {
        font-size: 30px; } }

footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1px 0;
  font-family: "Bubbler One", sans-serif;
  color: #6699ff;
  background-color: #fafafa;
  font-weight: bold; }
  @media only screen and (max-width: 600px) {
    footer .copy {
      font-size: 10px; } }
  footer img {
    width: 50px;
    margin-left: 50%; }
  footer tr {
    float: right; }
    footer tr .social-i {
      color: #6699ff;
      width: 20px; }
    footer tr td {
      padding: 0; }

.gallery {
  /* Create four equal columns that floats next to each other */
  /* Clear floats after the columns */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */ }
  .gallery h3 {
    font-family: "Bubbler One", sans-serif;
    font-weight: bold;
    color: #6699ff;
    margin: 100px 0 20px;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .gallery h3 {
        font-size: 18px;
        margin: 50px 0 5px; } }
  .gallery .column {
    float: left;
    width: 25%;
    padding: 10px; }
    .gallery .column img {
      margin-top: 12px;
      width: 100%; }
  .gallery .row:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 1200px) {
    .gallery .column {
      width: 25%; } }
  @media only screen and (max-width: 600px) {
    .gallery .column {
      width: 50%; } }
  @media only screen and (max-width: 357px) {
    .gallery .column {
      width: 50%; } }

.about-box {
  margin-bottom: 5%; }
  .about-box .about-title-box {
    font-family: "Bubbler One", sans-serif;
    color: #fff;
    background: url("../img/about.png");
    text-align: center;
    padding: 10px;
    font-weight: bolder; }
    @media only screen and (max-width: 600px) {
      .about-box .about-title-box h1 {
        font-size: 30px; } }
  .about-box .about-title-box-1 {
    font-family: "Bubbler One", sans-serif;
    color: #fff;
    background-color: #F71290;
    text-align: center;
    padding: 10px;
    font-weight: bolder; }
    @media only screen and (max-width: 600px) {
      .about-box .about-title-box-1 h5 {
        font-size: 15px; } }
  @media only screen and (max-width: 600px) {
    .about-box .slider {
      height: 360px !important; } }
  @media only screen and (max-width: 600px) {
    .about-box .slider .slides {
      height: 300px !important; } }
  @media only screen and (max-width: 600px) {
    .about-box .slider .slides li, .about-box .slider .slides ul {
      height: 300px; } }
  .about-box img {
    width: 300px;
    display: block;
    margin: 0 auto; }
    @media only screen and (max-width: 600px) {
      .about-box img {
        width: 150px; } }
  .about-box p {
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  .about-box .row {
    padding: 15px; }
  .about-box a {
    display: block;
    margin: 0 auto;
    background-color: #F71290; }
    .about-box a :hover {
      background-color: #F71290; }

.map {
  width: 100%;
  height: auto; }
  .map h3 {
    font-family: "Open Sans", sans-serif;
    color: #F71290;
    text-align: center;
    font-weight: 400; }
    @media only screen and (max-width: 600px) {
      .map h3 {
        font-size: 25px; } }
  .map .end {
    font-family: "Open Sans", sans-serif;
    color: #6699ff;
    text-align: center;
    font-weight: tiny; }
    @media only screen and (max-width: 600px) {
      .map .end {
        font-size: 15px; } }
  .map #map {
    width: 100%;
    height: 400px; }

.workshops {
  background-color: #6699ff;
  padding: 20px 0; }

.ary {
  background-color: #fff;
  padding: 30px; }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .ary {
      padding: 5px; } }
  @media only screen and (max-width: 600px) {
    .ary {
      padding: 5px; } }
  .ary .picture {
    margin: 50px; }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      .ary .picture {
        margin: 5px; } }
    @media only screen and (max-width: 600px) {
      .ary .picture {
        margin: 5px; } }
    .ary .picture .team-pic {
      display: block;
      margin: 0 auto;
      padding: 0 200px; }
  .ary .desc {
    text-align: justify;
    font-family: "Open Sans", sans-serif; }
    @media only screen and (max-width: 600px) {
      .ary .desc {
        padding: 1px 20px; } }

.gallery-sec {
  background-image: url("../img/about.png"); }
  .gallery-sec .carousel {
    display: block;
    margin: 0 auto; }
    .gallery-sec .carousel img {
      width: 150%; }

.insc .integrantes {
  color: #6699ff;
  text-transform: uppercase;
  font-weight: bold; }

#contact form .btn-insc {
  width: auto;
  font-family: "Open Sans", sans-serif;
  margin-right: 1%; }

/*# sourceMappingURL=style.css.map */
