@mixin desktop-lg {
  @media only screen and (min-width: #{$desktop-lg-width}) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet-xm {
  @media only screen and (min-width: #{992px}) and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: #{$mobile-width}) and (max-width: #{992px}) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile-xs {
  @media only screen and (max-width: #{$mobile-xs-width}) {
    @content;
  }
}

@mixin default-shadow {
  -webkit-box-shadow: 4px 6px 80px -16px rgba(0,0,0,0.59);
  -moz-box-shadow: 4px 6px 80px -16px rgba(0,0,0,0.59);
  box-shadow: 4px 6px 80px -16px rgba(0,0,0,0.59);
}

@mixin fade-hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}