@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@import url('../fonts/Open-Sans/stylesheet.css');

// Fonts
$default-font: 'Bubbler One', sans-serif;
$text-font: 'Open Sans', sans-serif;

// Colors 
$default-blue: #6699ff; 
$default-pink: #F71290;
$default-white: #fff;
$default-black: #000;

// Sizes
$desktop-width: 1200px;
$desktop-lg-width: 2559px;
$mobile-width: 600px;
$mobile-xs-width: 357px;
$nav-height: 70px;