@import '_variables';
@import '_mixins';

.brand-logo img {
  padding: 0 20%;
  @include tablet {
    margin: -45%;
  }
  @include mobile {
    margin: -45%;
  }
}

.nav-wrapper {
  background-color: #fff;
}

.nav-item {
  color: $default-blue;
  font-family: $default-font;
  font-weight: bold;
}

.nav-img {
  height: 40px;
  width: auto;
}

.button-collapse {
  color: $default-blue;
}

.box-sobre {
  text-align: center;
  width: 100%;
  height: 400px;
  background: url('../img/about.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .about-card {
    display: inline-block;
    max-width: 600px;
    height: auto;
    padding: 35px;
    font-family: $text-font;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include mobile {
      height: 350px;
    }
    h3 {
      font-family: $default-font;
      color: $default-pink;
      font-weight: bolder;
      @include mobile {
        font-size: 20px;
      }
    }
    p {
      @include mobile {
        font-size: 12px;
      }
    }
    a {
      background-color: $default-pink;
    }
    .cont {
      color: $default-pink;
      font-size: 20px;
    }
  }
  .align-top {
    align-self: flex-start;
  }
  .align-bottom {
    align-self: flex-end;
  }
}

#box-countdown {
  .title {
    text-align: center;
    color: $default-blue;
    font-family: $default-font;
    margin: 50px 0 -20px;
    .destaque {
      color: $default-pink;
      font-weight: bolder;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: auto;
    margin: 20%;
    //float: right;
    @include tablet {
      max-width: 200px;
      height: auto;
    }
    @include mobile {
      max-width: 200px;
      height: auto;
    }
  }
  .countdownContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;  
    font-family: $default-font;
    font-weight: bold;
    @include tablet {
      margin: 50px 20px;
    }
    td {
      padding: 0 30px;
      text-align: center;
      @include tablet {
        padding: 0 10px;
      }
      @include mobile {
        padding: 0 10px;
      }
    }
    .legend-cont {
      color: $default-blue;
      font-weight: bold;
    }
    .title-cont {
      color: $default-pink;
      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 30px;
      }

    }
  }

  .info {
    font-size: 80px;
  }
}

.convidados {
  background-color: $default-blue;
  text-align: center;
  padding: 30px 30px 20px;
  height: auto;
  margin: 20px 0;
  @include mobile {
    width: 100%;
  }
  h2 {
    font-family: $default-font;
    color: white;
    font-weight: bold;
    margin-bottom: 1px; 
    @include mobile {
      font-size: 30px;
    }
  } 
  .line {
    border-bottom: 3px solid white;
    width: 300px;
    margin: 0 auto;
  }
  .box {
    margin-top: 20px;
    padding: 0 1px;
    width: 100%;
    @include mobile {
      padding: 0 2px;
    }
  }
  .team-member {
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    width: 100%;
    height: 420px;
    margin: 0;
    border-top-right-radius: 10px;
    @include default-shadow;
    @include mobile {
      height: auto;
      margin: 5px 5px;
    }
    .team-pic {
      display: block;
      margin: 0 auto;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }

    .team-pic:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
      @include fade-hover;
    } 

    .team-name {
      font-family: $default-font;
      color: $default-pink;
      font-weight: bolder;
      font-size: 25px;
      margin: 10px 0;
      @include mobile {
        font-size: 17px;
      }
    }

    .team-function {
      margin: 2px 0;
      font-family: $default-font;
      color: $default-blue;
      font-weight: bold;
      font-size: 20px;
      @include mobile {
        font-size: 12px;
      }
    }

    .team-desc {
      font-family: $text-font;
      font-size: 10px;
      margin-bottom: 10px;
      @include mobile {
        font-size: 8px;
      }
    }
  }
}

.programacao {
  margin: 20px 0;
  h2 {
    font-family: $default-font;
    color: $default-pink;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px; 
    text-align: center;
    @include mobile {
      font-size: 30px;
    }
  } 
  .line {
    border-bottom: 3px solid $default-blue;
    width: 400px;
    margin: 0 auto;
  }
  .turnos {
    font-family: $text-font;
    margin-top: 30px;
    margin-bottom: 30px;
    td {
      padding: 5px 5px;
    }
    .collection-header {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    .manha {
      border-radius: 2px;
      th {
        text-align: center;
        color: $default-blue;
      }
      .hora {
        text-align: center;
        background-color: $default-blue;
        font-weight: bold;
        color: white;
        margin: 5px 0;
        width: 100px;
      }
      .event {
        font-style: italic;
        color: $default-blue;
      }
    }
    .tarde {
      border-radius: 2px;
      th {
        text-align: center;
        color: $default-pink;
      }
      .hora {
        text-align: center;
        background-color: $default-pink;
        font-weight: bold;
        color: white;
        margin: 5px 0;
        width: 100px;
      }
      .event {
        font-style: italic;
        color: $default-pink;
      }
    }
  }
}

#contact {
  font-family: $default-font;
  form {
    input {
      border-color: $default-blue;
      font-weight: bold;
    }
    textarea {
      border-color: $default-blue;
    }
    label {
      font-weight: bold !important;
      color: $default-pink;
    }
    .btn, .btn-large {
      width: 100%;
      background-color: $default-pink;
    }
  }
  .text-contact {
    font-family: $default-font;
    h1 {
      color: $default-pink;
      font-weight: bold;
      @include tablet {
        font-size: 40px;
      }
      @include mobile {
        font-size: 30px;
        text-align: center;
      }
    }
    p {
      margin-top: -10px;
      color: $default-blue;
      font-weight: bold;
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 15px;
        text-align: center;
      }
    }
  }
  .margem {
    padding: 20px 0 !important;
  }
}

.scrollToTop{
  width:100px; 
  height:130px;
  text-align:center; 
  background-color: $default-pink;
  font-weight: bold;
  position:fixed;
  bottom:30px;
  right:40px;
  display:none;
  :hover {
    background-color: $default-pink;
  }
  @include mobile {
    width: 30px;
    height: 30px;
    bottom:70px;
    right: 30px;
    i {
      font-size: 20px;
      margin-top: -10px;
    }
  }
  @include tablet {
    width: 30px;
    height: 30px;
    bottom:70px;
    right: 30px;
    i {
      font-size: 30px;
    }
  }
}

footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1px 0;
  font-family: $default-font;
  color: $default-blue;
  background-color: #fafafa;
  font-weight: bold;
  .copy {
    @include mobile {
      font-size: 10px;
    }
  }
  img {
    width: 50px;
    margin-left: 50%;
  }
  tr {
    float: right;
    .social-i {
      color: $default-blue;
      width: 20px;
    }
    td {
      padding: 0;
    }
  }
}

// .about-body {
//   background: url('../img/eu.png');
//   background-size: cover;
// }

.gallery {
  h3 {
    font-family: $default-font;
    font-weight: bold;
    color: $default-blue;
    margin: 100px 0 20px;
    text-align: center;
    @include mobile {
      font-size: 18px;
      margin: 50px 0 5px;
    }
  }
  @import '_gallery';
}

.about-box {
  margin-bottom: 5%;
  .about-title-box {
    font-family: $default-font;
    color: $default-white;
    background: url('../img/about.png');
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    @include mobile {
      h1 {
        font-size: 30px;
      }
    }
  }
  .about-title-box-1 {
    font-family: $default-font;
    color: $default-white;
    background-color: $default-pink;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    @include mobile {
      h5 {
        font-size: 15px;
      }
    }
  }
  .slider {
    @include mobile {
      height: 360px !important;
    }
    .slides {
     @include mobile {
       height: 300px !important;
     }
     li, ul {
      @include mobile {
        height: 300px;
      }
    }
  }
}
img {
  width: 300px;
  display: block;
  margin: 0 auto;
  @include mobile {
    width: 150px;
  }
}
p {
  font-family: $text-font;
  text-align: center;
}
.row {
  padding: 15px;
}
a {
  display: block;
  margin: 0 auto;
  background-color: $default-pink;
  :hover {
    background-color: $default-pink;
  }
}
}